<!DOCTYPE html>
<html>
<head>
    <title>detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/javascript/index.js' />
</head>
<body>
<h1><%= note.title %></h1>
<p><%= note.content %></p>
</body>
</html>
